* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑"
}
html, body {
    width: 100%;
    height: 100%;
}
#first-index {
    width: 100%;
    height:70%;
    background: url('../images/banner2.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}
#first-index:before {
    content: '';
    width: 100%;
    height:100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

#first-index .nav {
    width: 900px;
    height: 60px;
   left: 0;
   right: 0;
    margin: auto;
    top: 3%;
    position: absolute;
    z-index: 2;
}
.left-nav > a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    width: 100px;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
}
.left-nav a {
    float: left;
    text-decoration: none;
    color: white;
    font-size: 14px;
    display: inline;
    margin-right:45px;
    margin-top: 3%;
}
.left-nav > div a:hover {
    color:#ffc0cb;
}

a.left-item {
    color: pink;
}

.right-nav {
    float: right;
}
.right-nav > a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
}

.banner-text {
    width: 900px;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    top: 43%;
}

.banner-text img {
    display: block;
    margin: auto;
    width: 35%;
}


.nav2 {
    width: 900px;
    margin: auto;
    left: 0;
    right: 0;
    position: relative;
    margin-top: 30px;
    text-align: center;
    height: 100px;
    line-height: 60px;
}

.cutoff {
    width: 100%;
    height: 2px;
    background-color: #f4f4f4;
}

.nav2 a {
    text-decoration: none;
    color: #1e1e1e;
}
.nav2 a:hover {
    color: pink;
}

.basic {
     width: 900px;
    margin: auto;
    left: 0;
    right: 0;
    position: relative;
    margin-top: 5px;
    text-align: center;
}

.basic-title {
    font-size: 35px;
}

.basic img {
    margin-top: 30px;
}


.basic p {
    margin-top: 10px;
    font-size:18px;
     line-height: 40px;
}




.school{
   margin-top: 30px;
    width: 100%;
    height:600px;
    background: #f4f4f4;
}

.school-text {
    width: 900px;
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
    text-align: center;
    top: 30px;
}
.school-title {
    font-size: 35px;
}

.school img {
    margin-top: 30px;
}


.exp1 {
    width: 600px;
    margin-left: 180px;
    font-size: 18px;
     margin-top: 10px;
     line-height: 40px;
     text-align: left;
}

.exp2 {
    margin-left: 320px;
    font-size: 15px;
     line-height:20px;
     text-align: left;
}
.exp3 {
    width: 600px;
    margin-left: 180px;
    font-size: 18px;
     margin-top: 10px;
     line-height: 40px;
     text-align: left;
}

.exp3 p {
    float: left;
}

.exp3-right {
    margin-left: 34px;
}
.work {
     width: 900px;
    margin: auto;
    height: 410px;
    left: 0;
    right: 0;
    position: relative;
    margin-top: 30px;
    text-align: center;
}

.work-title {
    font-size: 35px;
}

.work img {
    margin-top: 30px;
    width: 20%;
}


.workexp1 {
    margin-top: 10px;
    font-size:18px;
     line-height: 40px;
     text-align: left;
     margin-left: 180px;
}

.workexp2 {
    font-size: 15px;
    text-align: left;
    margin-left: 342px;
    margin-top: 6px;
    line-height: 25px;
}



.prize{
   margin-top: 10px;
    width: 100%;
    height: 250px;
    background: #f4f4f4;
}

.prize-text {
    width: 900px;
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
    text-align: center;
    top: 30px;
}
.prize-title {
    font-size: 35px;
}

.prize-text p {
    font-size: 18px;
    margin-top: 30px;
    text-align: left;
    margin-left: 180px;
    line-height: 30px;
}





.skill {
    width: 900px;
    margin: auto;
    height: 320px;
    left: 0;
    right: 0;
    position: relative;
    margin-top: 130px;
    text-align: center;
}

.skill-title {
    font-size: 35px;
}

.skill img {
    margin-top: 30px;
    width: 20%;
}


.skill-text p {
    margin-top: 30px;
    font-size:18px;
     line-height: 32px;
     text-align: left;
     margin-left: 180px;
}




#footer {
    background-color: black;
    width: 100%;
    height: 250px;
}
#footer p {
    width: 900px;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 140px;
}


.back {
    width: 900px;
    margin: auto;
    left: 0;
    right: 0;
}

.back img {
    display: block;
    margin: auto;
    width: 6%;
}

